.search-text-container {
  width: 60%;
  align-content: center;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.search-textbox {
  width: 100%;
  margin: 20px auto;
  display: block;
  height: 30px;
  border-radius: 10px;
}

.search-submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:  rgb(117,	20,	12);
  width: 15%;
  margin-left: 41%;
  margin-top: 2%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.search-submit:hover,.search-submit:active,.search-submit:focus {
  background: rgb(95, 17, 10);
}

.search-form {
  width: 100%;
  display: block;
  align-content: center;
}

.center {
  margin-left: auto;
  width: 54%;
  border: 3px;
  padding: 10px;
}

.center2 {
  margin-left: auto;
  width: 60%;
  border: 3px;
  padding: 10px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:  rgb(117,	20,	12);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(95, 17, 10);
}
