.feed-subtitle {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 10px;
  font-size: 30px;
  color: beige;
}

.feed-select {
  margin-bottom: 25px;
  height: 25px;
}

.trending-music-container {
  margin-top: 50px;
  width: 80%;
  margin: 0px auto;
}

.trending-song {
  margin: 0px auto;
  width: 600px;
  height: 380px;
  background-color: white;
  padding: 20px;
  position: relative;
  margin-bottom: 40px;
}

.trending-song-album-cover {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  background-color: black;
}

.trending-song-album-cover-img {
  width: 100%;
}

.trending-song-details {
  position: absolute;
  width: 380px;
  height: 190px;
  top: 20px;
  right: 20px;
}

.trending-song-title {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.trending-song-subtitle {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-weight: 400;
}

.trending-song-play-options-container {
  height: 80px;
  width: 100%;
  padding: 10px;
}

.play-btn {
  background-color: rgb(88, 66, 5);
  color: white;
  border-radius: 5px;
  height: 30px;
  font-weight: 500;
  margin-top: 3%;
  margin-left: 7%;
  border: none;
  cursor: pointer;
  padding: 15px;
  padding-top: 8px;
}

.play-btn:hover {
  background-color: brown;
  color: white;
  border-radius: 5px;
  height: 30px;
  font-weight: 500;
  margin-top: 3%;
  margin-left: 7%;
  border: none;
  cursor: pointer;
  padding: 15px;
  padding-top: 8px;
}

/* like button*/

.like-button {
  display: inline-block;
  position: relative;
  margin-left: 30%;
  margin-bottom: 10%;
  font-size: 32px;
  cursor: pointer;
}
.like-button::before {
  font-size: 3em;
  color: #000;
  content: '♥';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.like-button::after {
  font-size: 3em;
  color: #ff3252;
  content: '♥';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s;
}
.like-button.liked::after {
  transform: translate(-50%, -50%) scale(1.1);
}

.center-audio {
  margin-left: auto;
  width: 80%;
  border: 3px;
  padding: 10px;
}
