.imglogo {
  width: 400px;
  height: 400px;
  position: absolute;
  left:0;
  top:0;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: grey;
}

.navigation {
  height: 57px;
  background: beige;
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a, .brand a:visited {
  color:black;
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 0 20px;
  margin-right: 10px;
  line-height: 57px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 57px;
  background: beige;
  color: black;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
  background: whitesmoke;
  color: black;
}

nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.create-nav {
  background: rgb(117,	20,	12);
  color: beige;
}
.create-nav:hover {
  background: rgb(95, 17, 10);
  color: beige;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: beige;
  height: 57px;
  width: 40px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
 }
  nav {
    width: 100%;
    padding: 40px 0 15px;
 }
  nav ul {
    display: none;
 }
  nav ul li {
    float: none;
 }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
 }
  nav ul li ul li a {
    padding-left: 30px;
 }
  .nav-dropdown {
    position: static;
 }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
 }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
