.login-container {
  border: 3px solid rgb(105, 105, 105);
  width: 50%;
  max-width: 400px;
  min-height: 420px;
  display: block;
  margin: 0px auto;
  margin-top: 5%;
  padding: 2%;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  padding-bottom: 5px;
}

.login-title {
  text-align: center;
  margin-bottom: 0px;
}

.login-subtitle {
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  font-size: 14px;
}


.login-submit-btn {
  display: block;
  margin: 0px auto;
  background-color: rgb(117,	20,	12);
  color: white;
  border: none;
  width: 200px;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
}

.login-submit-btn:hover {
  background-color: rgb(95, 17, 10);
}

.login-forgot-password {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}

.login-forgot-password:hover {
  color: rgb(95, 17, 10);
  text-decoration: underline;
  cursor: pointer;
}