.profile-container {
    border: 3px solid rgb(105, 105, 105);
    width: 50%;
    max-width: 400px;
    min-height: 420px;
    display: block;
    margin: 0px auto;
    padding: 2%;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding-bottom: 5px;
  }

  .follow-genre-button {
    display: inline-block;
    background-color: rgb(117,20,12);
    color: white;
    border: none;
    width: 90px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    position: center;
    float: right;

  }

  .genre-result {
    width: 100%;
    padding: 10px;
    border: black 1px solid;
    height: 40px;
    align-content: center;
    font-size: 20px;
    background: whitesmoke;
  }
